

:root {
    font-family: Arial;

    margin: 0;
    box-sizing: border-box;
}




.slider-container {
    display: flex;
    flex-flow: column;
    width: 25%;
    color: white;
    background-color: black;
}
